spin_manifest_version = 2

[application]
authors = ["karthik2804 <karthik.ganeshram@fermyon.com>"]
description = ""
name = "spin-mysql"
version = "0.1.0"

[[trigger.http]]
route = "/..."
component = "spin-mysql"

[component.spin-mysql]
source = "target/spin-mysql.wasm"
exclude_files = ["**/node_modules"]
allowed_outbound_hosts = ["mysql://*:*"]
[component.spin-mysql.build]
command = "npm run build"
watch = ["src/**/*.ts", "package.json"]
