spin_manifest_version = 2

[application]
authors = ["karthik2804 <karthik.ganeshram@fermyon.com>"]
description = ""
name = "routing-requests"
version = "0.1.0"

[[trigger.http]]
route = "/..."
component = "routing-requests"

[component.routing-requests]
source = "target/routing-requests.wasm"
exclude_files = ["**/node_modules"]
[component.routing-requests.build]
command = "npm run build"
watch = ["src/**/*.ts", "package.json"]
